@model BookAuthor

<form method="post" asp-action="AddAuthors">
    <
    <div class="form-group">
        <label asp-for="AuthorId">Автор</label>
        <select asp-for="AuthorId" class="form-control" style="margin-bottom: 1rem;">
            <option value="">--Выберите--</option>
            @foreach (var author in ViewBag.Authors)
            {
                <option value="@author.Id">@author.FullName</option>
            }
        </select>
        <span asp-validation-for="AuthorId" class="text-danger"></span>


        <div class="form-group">
            <label asp-for="BookId">Книга</label>
            <input asp-for="BookId" readonly class="form-control" value="@ViewBag.BookId" style="margin-bottom: 1rem;">
            <span asp-validation-for="BookId" class="text-danger"></span>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>