<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Загрузить корзину
  </a>
    <a href="BookBasket" class="list-group-item list-group-item-action">Список книг</a>
    <a href="../Category/Index" class="list-group-item list-group-item-action">Список категорий для книг</a>
    <a href="../User/UserBasket" class="list-group-item list-group-item-action">Список пользователей</a>
  <a href="../Role/Index" class="list-group-item list-group-item-action">Список ролей для пользователей</a>
</div>
