@model AddBookViewModel

<div class="container">
<form method="post" asp-action="Create" enctype="multipart/form-data">
        <div style="display:flex;margin-right: 10px;">
            <div class="row">
                <div class="col-6">
    <div class="form-group">
        <label asp-for="Name">Название</label>
        <input asp-for="Name" class="form-control" placeholder="Название" style="margin-bottom: 1rem;">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    </div>
                <div class="col-6">
    <div class="form-group">
        <label asp-for="Description">Описание</label>
        <input asp-for="Description" class="form-control" placeholder="Описание" style="margin-bottom: 1rem;">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    </div>
                <div class="col-6">
    <div class="form-group">
        <label asp-for="Publication">Публикация</label>
        <input asp-for="Publication" class="form-control" placeholder="Публикация" style="margin-bottom: 1rem;">
        <span asp-validation-for="Publication" class="text-danger"></span>
    </div>
    </div>
                <div class="col-6">
    <div class="form-group">
        <label asp-for="PublicationCity">Город публикации</label>
        <input asp-for="PublicationCity" class="form-control" placeholder="Город публикации" style="margin-bottom: 1rem;">
        <span asp-validation-for="PublicationCity" class="text-danger"></span>
    </div>
    </div>
                <div class="col-6">
    <div class="form-group">
        <label asp-for="PublicationDate"> Дата публикации<</label>
        <input asp-for="PublicationDate" type="date" class="form-control" style="margin-bottom: 1rem;">
        <span asp-validation-for="PublicationDate" class="text-danger"></span>
    </div>  
    </div>
                <div class="col-6">
    <div class="form-group">
        <label asp-for="Language">Язык</label>
        <input asp-for="Language" class="form-control" placeholder="Язык" style="margin-bottom: 1rem;">
        <span asp-validation-for="Language" class="text-danger"></span>
    </div>
    </div>
                <div class="col-6">
    <div class="form-group">
        <label asp-for="CountOfPages">Количество страниц</label>
        <input asp-for="CountOfPages" type="number" class="form-control" style="margin-bottom: 1rem;">
        <span asp-validation-for="CountOfPages" class="text-danger"></span>
    </div>
    </div>
                <div class="col-6">
    <div class="form-group">
        <label asp-for="Binding     ">Переплет</label>
        <input asp-for="Binding" class="form-control" placeholder="Переплет" style="margin-bottom: 1rem;">
        <span asp-validation-for="Binding" class="text-danger"></span>
    </div>
                </div>
                <div class="col-6">
    <div class="form-group">
        <label asp-for="FileStream">Картинка</label>
        <input asp-for="FileStream" type="file" accept=".png, .jpg, .jpeg" class="form-control" placeholder="Картинка" style="margin-bottom: 1rem;">
        <span asp-validation-for="FileStream" class="text-danger"></span>
    </div>
    </div>
                <div class="col-6">

    <div class="form-group">
        <label asp-for="State">Состояние</label>
        <input asp-for="State" class="form-control" placeholder="Состояние" style="margin-bottom: 1rem;">
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
   </div>
             
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
</div>