@model IEnumerable<Book>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <h1>Books</h1>

    <table>
        <tr>
            <th></th>
            <th>Author</th>
            <th>Genre</th>
            <th>Published Date</th>
        </tr>

        @foreach (var book in Model)
        {
            <tr>
                <td>@book.</td>
                <td>@book.</td>
                <td>@book.</td>
                <td>@book.</td>
                <td><a href="/Details?id=@book.Id">Details</a></td>
            </tr>
        }
    </table>
</body>
</html>