@model IEnumerable<Role>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
</head>
<body>
    <h1> Роли пользователей</h1>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Название</th>
                <th>Описание</th>
               

            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>@role.Description</td>
                </tr>
            }



        </tbody>
    </table>
    <a href="Role/Create" class="btn btn-primary">Добавить</a>
</body>
</html>

