@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/UserLayout.cshtml";
}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        Список действий
    </a>
    <a href="../Book/Index" class="list-group-item list-group-item-action">Список книг</a>
    <a href="../Category/Index" class="list-group-item list-group-item-action">Список категорий для книг</a>
    <a href="../User/Index" class="list-group-item list-group-item-action">Список пользователей</a>
    <a href="../Role/Index" class="list-group-item list-group-item-action">Список ролей для пользователей</a>
    <a href="../Author/Index" class="list-group-item list-group-item-action">Список авторов</a>
</div>
