@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/UserLayout.cshtml";
}
@model User
<form method="post" asp-action="ChangePassword" enctype="multipart/form-data">
    <div class="col-md-12" >
        <label asp-for="Id" class="labels">UserId</label>
        <input asp-for="Id" type="text" readonly class="form-control" value="@ViewBag.UserId" style="margin-bottom: 1rem;">
    </div>
  
    <div class="col-md-12">
        <label asp-for="Email" class="labels">Email адресс</label>
        <input asp-for="Email" type="text" readonly class="form-control" value="@ViewBag.Email" style="margin-bottom: 1rem;">
    </div>
    <div class="col-md-12">
        <label asp-for="Password" class="labels">Введите пароль</label>
        <input asp-for="Password" type="password" class="form-control" style="margin-bottom: 1rem;">
    </div>
    <div class="col-md-12">
        <label  class="labels">Повторите пароль</label>
        <input  type="password" class="form-control" style="margin-bottom: 1rem;">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
