@model IEnumerable<Author>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
    <h1>Авторы</h1>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>ФИО</th>
                <th>Об авторе</th>
            
                 <th>Изменить</th>
                 <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model)
            {
                <tr>
                    <td>@author.Id</td>
                    <td>@author.FullName</td>
                    <td>@author.Description</td>
                    <td><a href="Author/Edit?id=@author.Id">Изменить</a></td>
                    <td><a href="Author/DeleteBasket?id=@author.Id">Удалить</a></td>

                </tr>
            }

        </tbody>
    </table>
    <a href="Author/Create" class="btn btn-primary">Добавить</a>
</body>
</html>
